<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart">

	
	<select id="cartList"  resultType="map"> <!--  parameterType="_int"  --> 
	select I.ITEM_NO,I.ITEM_NAME,I.ITEM_COLORS,IC.ITEM_QUANTITY,I.ITEM_PRICE,IC.CART_NO, II.ITEM_IMAGE_RE_NAME , I.ITEM_SIZE,IC.MEMBER_NO 
	from item_cart IC left join item I on IC.item_no = I.item_no
    left join (SELECT item_image_re_name,item_no 
                FROM 
                    ( SELECT item_image_re_name,item_no, ROW_NUMBER() OVER ( PARTITION BY item_no ORDER BY item_image_no ) AS RN 
                    FROM  item_image ) TMP 
                    WHERE TMP.RN = 1) II 
    on I.item_no=II.item_no 
    where IC.member_no = #{memberNo}
    order by cart_no desc

	</select>

	
	<insert id="cartInsert" >
		insert into item_cart values(
			seq_cart_no.nextval,
			#{memberNo},
			#{itemNo},
			#{item_quantity}
		)
	</insert> 
	

	
	<delete id="cartDelete">
	
	DELETE FROM ITEM_CART 
	WHERE CART_NO = #{cartNo}
	
	</delete>
	
	
	
	
	

</mapper>
