<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="item">

	<!-- 희진시작 -->
	<select id="newItemList" resultMap="itemMap">
		<![CDATA[
		select * from (select v.*, rownum rnum from (select p.* from item p order by ITEM_ENROLL_DATE desc) v) where rnum < 7
		]]>
	</select>
	
	<resultMap type="item" id="itemMap" >
		<result column="item_colors" property="itemColors" typeHandler="strArrTypeHandler"></result>
		<result column="item_size" property="itemSize" typeHandler="strArrTypeHandler"></result>
	</resultMap>
	<!-- 희진 끝 -->
	

	<!--하은 시작-->
	<select id="selectItemNumber" resultMap="itemMap">
		select * from item
		where item_No = 102
	</select>
	<!--하은 끝-->	

	<!-- 윤지 상품 리스트 시작 -->
	<resultMap type="itemAndImageVO" id="itemAndImageMap">
		<id column="item_no" property="itemNo"/>
		<result column="item_name" property="itemName" />
		<result column="item_price" property="itemPrice" />
		<result column="item_stock" property="itemStock" />
		<result column="item_colors" property="itemColors"  typeHandler="strArrTypeHandler" />
		<result column="item_size" property="itemSize"  typeHandler="strArrTypeHandler" />
		<result column="item_info" property="itemInfo" />
		<result column="item_detail_info" property="itemDetailInfo" />
		<result column="item_enroll_date" property="itemEnrollDate" />
		<result column="brand_no" property="brandNo" />
		<result column="item_gender_no" property="itemGenderNo" />
		<result column="item_type_no" property="itemTypeNo" />
		<result column="item_limited_type" property="itemLimitedType" />
		<result column="item_sale_type" property="itemSaleType" />
		<collection property="imageList" ofType="itemImage">
			<id column="item_image_no" property="itemImageNo"/>
			<result column="item_image_origin_name" property="itemImageOriginName"/>
			<result column="item_image_re_name" property="itemImageReName"/>
			<result column="item_no" property="itemNo"/>
		</collection>
	</resultMap>
	
	<select id="selectItemImageList" resultMap="itemAndImageMap">
		select * from item I left join 
		(SELECT item_image_no,item_image_origin_name,item_image_re_name,item_no 
		FROM ( SELECT item_image_no,item_image_origin_name,item_image_re_name,item_no, ROW_NUMBER() 
		OVER ( PARTITION BY item_no ORDER BY item_image_no ) AS RN FROM  item_image ) TMP 
		WHERE TMP.RN = 1) II 
		on I.item_no=II.item_no order by I.item_no desc, II.item_image_no asc
	</select>
	
	<select id="selectItemCount" resultType="_int">
		select count(*) from item
	</select>
	
	<!-- 윤지  상품 리스트 끝 -->



	<!--주영 상품 상세보기 시작 -->
	<select id="selectOneitemImage" resultMap="itemImage">
		SELECT * FROM item_image IME JOIN  ITEM I ON IME.ITEM_NO = I.ITEM_NO
	 where I.item_no=#{itemNo}
	</select>
	<resultMap type="itemandimagevo2" id="itemImage">
	<id column="item_no" property="itemNo"/>
	<result column="item_name" property="itemName"/>
		<result column="item_price" property="itemPrice"/>
		<result column="item_stock" property="itemStock"/>
		<result column="item_colors" property="itemColors"/>
		<result column="item_size" property="itemSize"/>
		<result column="item_info" property="itemInfo"/>
		<result column="item_detail_info" property="itemDetailInfo"/>
		<result column="item_enroll_date" property="itemEnrollDate"/>
		<result column="brand_no" property="brandNo"/>
		<result column="item_gender_no" property="itemGenderNo"/>
		<result column="item_type_no" property="itemTypeNo"/>
		<result column="item_Limited_Type" property="itemLimitedType"/>
		<result column="item_Sale_Type" property="itemSaleType"/>
		
	<collection property="imageList" ofType="ItemImage">
			<id column="item_No" property="itemNo"/>
			<result column="item_Image_No" property="itemImageNo"/>
			<result column="item_Image_Origin_Name" property="itemImageOriginName"/>
			<result column="item_Image_Re_Name" property="itemImageReName"/>
	

			
			</collection>
	</resultMap>
	
	<select id="selectitemImagetList" resultMap="itemImageMap">
		SELECT * FROM item_image where item_no=#{itemNo} ORDER BY item_image_no
	</select>
	<resultMap type="ItemImage" id="itemImageMap"></resultMap>
	<!--주영 상품 상세보기 끝 -->
	


</mapper>