<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
    <!-- ===================찬호 시작=================== -->

	<insert id="enrollItem">
		insert into item values(
			seq_item_no.nextval,
			#{itemName},
			#{itemPrice},
			#{itemStock},
			#{itemColors,typeHandler=strArrTypeHandler},
			#{itemSize,typeHandler=strArrTypeHandler},
			#{itemInfo},
			#{itemDetailInfo},
			sysdate,
			#{brandNo},
			#{itemGenderNo},
			#{itemTypeNo},
			#{itemLimitedType},
			#{itemSaleType}
		)
		<selectKey keyProperty="itemNo" resultType="_int" order="AFTER">
			select seq_item_no.currval from dual
		</selectKey>
	</insert>
	
	<insert id="insertItemImage">
		insert into item_image values(
			seq_item_image_no.nextval,
			#{itemImageOriginName},
			#{itemImageReName},
			#{itemNo}
		)
		
	</insert>
	
	<select id="selectItemList" resultMap="itemMap">
		select * from item
	</select>
	
	<resultMap type="item" id="itemMap">
		<result column="item_colors" property="itemColors" typeHandler="strArrTypeHandler"></result>
		<result column="item_size" property="itemSize" typeHandler="strArrTypeHandler"></result>
	</resultMap>
	
	<select id="selectItemCount" resultType="_int">
		select count(*) from item
	</select>
	
	<select id="selecItemOne" resultMap="itemMap">
		select * from item where item_no=#{itemNo}
	</select>
	
	<select id="selectItemImageList" resultMap="itemImageMap">
		select * from item_image where item_no=#{itemNo}
	</select>
	
	<resultMap type="itemImage" id="itemImageMap">
	</resultMap>
    <!-- ===================찬호 끝=================== -->
	
</mapper>
    
    
    
    
    
    
    
    