<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
    <!-- ===================찬호 시작=================== -->

	<insert id="enrollItem">
		insert into item values(
			seq_item_no.nextval,
			#{itemName},
			#{itemPrice},
			#{itemStock},
			#{itemColors,typeHandler=strArrTypeHandler},
			#{itemSize,typeHandler=strArrTypeHandler},
			#{itemInfo},
			#{itemDetailInfo},
			sysdate,
			#{brandNo},
			#{itemGenderNo},
			#{itemTypeNo},
			#{itemLimitedType},
			#{itemSaleType}
		)
		<selectKey keyProperty="itemNo" resultType="_int" order="AFTER">
			select seq_item_no.currval from dual
		</selectKey>
	</insert>
	
	<insert id="insertItemImage">
		insert into item_image values(
			seq_item_image_no.nextval,
			#{itemImageOriginName},
			#{itemImageReName},
			#{itemNo}
		)
		
	</insert>
	
	<select id="selectItemList" resultMap="itemMap">
		select * from item order by item_no desc
	</select>
	
	<resultMap type="item" id="itemMap">
		<result column="item_colors" property="itemColors" typeHandler="strArrTypeHandler"></result>
		<result column="item_size" property="itemSize" typeHandler="strArrTypeHandler"></result>
	</resultMap>
	
	<select id="selectItemCount" resultType="_int">
		select count(*) from item
	</select>
	
	<select id="selecItemOne" resultMap="itemMap">
		select * from item where item_no=#{itemNo}
	</select>
	
	<select id="selectItemImageList" resultMap="itemImageMap">
		select * from item_image where item_no=#{itemNo} order by item_image_no asc
	</select>
	
	
	<select id="selectAllItemImageList" resultMap="itemImageMap">
		select * from item_image order by item_no desc
	</select>

	<resultMap type="itemImage" id="itemImageMap">
	</resultMap>
	
	<select id="selectItemAndImageList" resultMap="itemCollectionMap">
		select * from item I left join (SELECT item_image_no,item_image_origin_name,item_image_re_name,item_no FROM ( SELECT item_image_no,item_image_origin_name,item_image_re_name,item_no, ROW_NUMBER() OVER ( PARTITION BY item_no ORDER BY item_image_no ) AS RN FROM  item_image ) TMP WHERE TMP.RN = 1) II on I.item_no=II.item_no order by I.item_no desc, II.item_image_no asc
	</select>
	
	<resultMap type="itemAndImageVO" id="itemCollectionMap">
		<id column="item_no" property="itemNo"/>
		<result column="item_name" property="itemName" />
		<result column="item_price" property="itemPrice" />
		<result column="item_stock" property="itemStock" />
		<result column="item_colors" property="itemColors"  typeHandler="strArrTypeHandler" />
		<result column="item_size" property="itemSize"  typeHandler="strArrTypeHandler" />
		<result column="item_info" property="itemInfo" />
		<result column="item_detail_info" property="itemDetailInfo" />
		<result column="item_enroll_date" property="itemEnrollDate" />
		<result column="brand_no" property="brandNo" />
		<result column="item_gender_no" property="itemGenderNo" />
		<result column="item_type_no" property="itemTypeNo" />
		<result column="item_limited_type" property="itemLimitedType" />
		<result column="item_sale_type" property="itemSaleType" />
		<collection property="imageList" ofType="itemImage">
			<id column="item_image_no" property="itemImageNo"/>
			<result column="item_image_origin_name" property="itemImageOriginName"/>
			<result column="item_image_re_name" property="itemImageReName"/>
			<result column="item_no" property="itemNo"/>
		</collection>
	</resultMap>
	
	<update id="editItemEnd">
		update item set item_name=#{itemName}, item_price=#{itemPrice}, item_stock=#{itemStock}, item_colors=#{itemColors,typeHandler=strArrTypeHandler}, item_size=#{itemSize,typeHandler=strArrTypeHandler}, item_info=#{itemInfo}, item_detail_info=#{itemDetailInfo}, brand_no=#{brandNo}, item_gender_no=#{itemGenderNo},item_type_no=#{itemTypeNo}, item_limited_type=#{itemLimitedType}, item_sale_type=#{itemSaleType} where item_no=#{itemNo} 
	</update>

	<delete id="deleteItemImage">
		delete from item_image where item_no=#{itemNo}
	</delete>
	
	<select id="selectPQnaList" resultMap="personalQnaMap">
		select * from personal_qna
	</select>
	
	<resultMap type="personalQna" id="personalQnaMap">
	</resultMap>
	
	<select id="selectPQnaListCount" resultType="_int">
		select count(*) from personal_qna
	</select>
	
	<select id="adminPQna" resultMap="personalQnaMap">
		select * from personal_qna where p_qna_no=#{pQnaNo}
	</select>
	
	<insert id="adminPQnaEnd">
		insert into personal_qna_ans values(seq_p_qna_ans_no.nextval,#{pQnaNo},#{pQnaAnsContent},default)
	</insert>
	
	<select id="adminPQnaAns" resultMap="personalQnaAnsMap">
		select * from personal_qna_ans where p_qna_no=#{pQnaNo} order by p_qna_ans_no
	</select>
	<resultMap type="personalQnaAns" id="personalQnaAnsMap">
		
	</resultMap>
	
	<select id="adminSearchItem" resultMap="itemCollectionMap">
		select * from item I left join (SELECT item_image_no,item_image_origin_name,item_image_re_name,item_no FROM ( SELECT item_image_no,item_image_origin_name,item_image_re_name,item_no, ROW_NUMBER() OVER ( PARTITION BY item_no ORDER BY item_image_no ) AS RN FROM  item_image ) TMP WHERE TMP.RN = 1) II on I.item_no=II.item_no where item_name like #{searchKeyword} order by I.item_no desc, II.item_image_no asc
	</select>
	
	<select id="selectSearchItemCount" resultType="_int">
		select count(*) from item where item_name like #{searchKeyword}
	</select>
	
	<select id="adminSearchItembyBrand" resultMap="itemCollectionMap">
		select * from item I left join (SELECT item_image_no,item_image_origin_name,item_image_re_name,item_no FROM ( SELECT item_image_no,item_image_origin_name,item_image_re_name,item_no, ROW_NUMBER() OVER ( PARTITION BY item_no ORDER BY item_image_no ) AS RN FROM  item_image ) TMP WHERE TMP.RN = 1) II on I.item_no=II.item_no where brand_no = #{brandNo} order by I.item_no desc, II.item_image_no asc
	</select>
	
	<select id="selectItemCount2" resultType="_int">
		select count(*) from item where brand_no = #{brandNo}
	</select>
	
    <!-- ===================찬호 끝=================== -->
    
	 <!-- ===================하은 시작=================== -->
    
	<select id="selectOrderCount" resultType="_int">
		select count(*) from order_product
	</select>
	
	  <select id="selectOrderList" resultMap="orderProductMap">
	  
	  	select * from order_product, item
		where order_product.item_no = item.item_no
		order by order_no desc
	  	
	  </select>
	<resultMap type="orderProduct" id="orderProductMap"></resultMap>
	
	
	<update id="updatedelivery" parameterType="hashMap">
		update order_product set delivery_no=#{deliveryNo}		
		where order_no=#{orderNo}
	</update>
	
	<select id="selectSearchDateList" resultMap="orderProductMap">		
		select * from order_product, item
		where  order_product.item_no = item.item_no and order_date > sysdate-#{startDate}
		order by order_date desc
	</select>
	
	<select id="delivery" resultType="_int">
	select count(*) from order_product, item
		where order_product.item_no = item.item_no and delivery_no=#{deliveryNo}
		order by order_no desc
	</select>
	
    <!-- ===================하은 끝=================== -->
    
    
    <!-- ===================하라 시작=================== -->
    	<select id="selectIQnaList" resultMap="itemQnaMap">
		select * from item_qna
	</select>
	
		
	<resultMap type="itemQna" id="itemQnaMap">
	</resultMap>
	
	<select id="selectIQnaListCount" resultType="_int">
		select count(*) from item_qna
	</select>
	
	<select id="adminIQna" resultMap="itemQnaMap">
		select * from item_qna where item_qna_no=#{iQnaNo}
	</select>
	
	<insert id="adminIQnaEnd">
		insert into item_qna_ans values(seq_item_qna_ans_no.nextval,#{iQnaNo},#{iQnaAnsContent},default)
	</insert>
	
	<select id="adminIQnaAns" resultMap="itemQnaAnsMap">
		select * from item_qna_ans where item_qna_no=#{iQnaNo} order by item_qna_ans_no
	</select>
	<resultMap type="itemQnaAns" id="itemQnaAnsMap">
		
	</resultMap>
    <!-- ===================하라 끝=================== -->
</mapper>