<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">


<select id="selectListReview" resultMap="selectListReviewMAP">
select * from order_product op left join (select I.item_no,i.item_name,i.item_price,ii.item_image_re_name from item I left join (SELECT item_image_no,item_image_origin_name,item_image_re_name,item_no FROM ( SELECT item_image_no,item_image_origin_name,item_image_re_name,item_no, ROW_NUMBER() OVER ( PARTITION BY item_no ORDER BY item_image_no ) AS RN FROM  item_image ) TMP WHERE TMP.RN = 1) 
II on I.item_no=II.item_no order by I.item_no desc, II.item_image_no asc) zzz on op.item_no=zzz.item_no where op.member_no= #{memberNo} AND delivery_no ='os-001' 

	</select>
	
	<resultMap type="ReviewOrederList" id="selectListReviewMAP">
	
	</resultMap>


</mapper>
    
    
    
    
    
    
    
    